* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://www.embraplan.com.br/imagens/noticias/11b986fc-d5a6-49a8-ba84-7cbbe8b6f93e.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
}
header a{
    padding: 15px;
    text-decoration: none;
    color: white;
    margin-left: 135vh;
    font-size: 15px;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 7vh;
    margin-top: 5vh;
    justify-content: center;
}

.produto {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center; 
}

.produto img {
    width: 70%;
    height: auto;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px black);
}

.catalogo .produto h2 {
    font-size: 1.2rem;
    margin-top: 2vh;
    font-weight: 700;
}

.produto p {
    margin: 0.5rem 0;
    font-weight: bold;
}

.produto button{
    text-decoration: none;
    color: white;
    background-color: green;
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}
.produto button:hover{
background-color: rgb(25, 191, 16);
color: white;
cursor: pointer;
}

.preco {
    color: #009900;
    font-weight: bold;
}
